body {
   background-color: rgb(232, 223, 202);
}

.TECW {
    font-family: "Cabin", sans-serif;
    background-color: #83B4FF;
    font-size: 2rem;
}

.TECW {
    text-align: center;
}

#nineteen {
    font-size: 30px;
}

#twentytwo {
    font-size: 30px;
}

#hedgesville {
    font-size: 30px;
}